

#map_wrapper{
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0 50%) 0 0 10px 5px;
    
}

#scrollable_map{
    position:relative;
    width: 200%;
}

#map-image{
    width: 100%; 
}

#pin-div{
    position: absolute;
    width: 10%;
    top : 5%;
    left : 80%
}

#pokemon-pin{
    width: 100%;
}

#pin-div:hover, #pin-div:focus{
    color: black;
}
#pin-div>span{
    position: absolute;
    top: 100px;
    right: -60px;
    margin-top: 20px;
    font-size: 1.4rem;
    width: 200px;
    color: antiquewhite;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0 50%);
    transform: scale(1) rotate(-15deg);
    transition : all 0.25s;
    opacity: 0;
    z-index: 2;
}

#pin-div:hover>span, #pin-div:focus>span{
    transform: scale(1) rotate(0);
    opacity:1;
}


#localisation-flex{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 10%;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    #map_wrapper{
    width :500px;
    height: 500px;
}


#localisation-flex{
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
    gap: 10%;
}

#localisation-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
}
