:root{
    --common-color : #282828;
    --main-color-eevee : #3A3129;
    --secondary-color-eevee : #C5915D;
    --main-color-jolteon : #E9BC2E;
    --secondary-color-jolteon : #B9812B;
    --main-color-flareon : #FFA948;
    --secondary-color-flareon : #FB7C26;
    --main-color-vaporeon : #879CC6;
    --secondary-color-vaporeon : #3A5D83;
}

body{
    background-color : var(--main-color-eevee);
    box-sizing: border-box;
    margin : 0;
    font-size: 1.5rem ;
}

/* style sectionc #caracteristics */

#caracteristics{
    background-color : var(--common-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#caracteristics>h2 {
    font-size: 2.5rem;
    text-align: center;
    color : white;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#caracteristics > p{
    color: white;
    width: 80%;
    margin: 1rem;
    
}

#stats{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#chart{
    width: 100%;
    height: 300px
}

/* flex type et faiblesse */
.type_weakness{
    
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

.type_weakness svg{
    width: 80%;
}

.type_weakness p{
    margin-bottom: 1rem;
    text-align: start;
    margin-left: 10%;
}

/* flex attaques */

#attacks{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 1.6rem;
}
#attacks>p{
    margin-bottom: 1rem;
    text-align: center;
    width:100%;
}
#attacks>svg{
    width: 45%;
margin : 0.5rem}


@media screen and (min-width :768px) {
    
    #stats{
        display: flex;
        flex-direction: initial;
        margin: 0 auto;
        justify-content: center;
        gap : 1.5rem
    }

    #chart{
        width: 45%;
    }

    .Type_Weakness_Attacks{
        width: 45%
    }

    .type_weakness p, #attacks>p{
        font-size: 2rem;
    }

    #caracteristics>p{
        margin-bottom: 3rem;
    }
}